*{
    margin: 0;
    padding: 0;
    font-family:italic;
}



header{
    width: 100%;
    height: 40vh;
    background-image: url(../images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall1.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
}

.dv1{
    
    justify-content: space-between;
    display: flex;
    background-color: #0000;
    padding: 2vh 2vh 2vh 2vh;
}

.dv2{
    justify-content: space-between;
    width: 30vh;
    display: flex;
}

.smt{
    font-size: 3vh;
    color: #ffff;
    text-decoration: none;

}

.txtd{
    font-size: 2vh;
    color: #ffff;
    text-decoration: none;
}

.dv3{
    padding: 3.5vh 18vh 3.5vh 18vh;
    margin: 6vh 6vh 6vh 6vh;
    border: #ffff solid 0.5vh;
    width: 45vh;
    height: 7vh;
    position: relative;
}

.title{
    font-size: 6vh;
    color: #ffff;

}

.dv4{
    padding: 12vh 40vh 1vh 40vh;
    display: flex;
    font-size: 2vh;
}

.img1{
    width: 40vh;
    height: 30vh;
}

.dv5{
    padding-left: 1.9vh;
    padding-top: 2vh;
}

.dv5 p{
    padding-top: 3vh;
}